html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 824px;
	min-height: 628.6999999999985px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 49px 51.300000000001546px 27px;
}

#pu160
{
	width: 0.01px;
	margin-left: 14px;
	position: relative;
}

#u160
{
	z-index: 6;
	width: 86px;
	margin-right: -10000px;
}

#u160_img
{
	padding-bottom: 1px;
}

#u70-4
{
	z-index: 2;
	width: 581px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 132px;
}

#pu193
{
	width: 0.01px;
	margin-top: 32px;
	position: relative;
}

#u193
{
	z-index: 35;
	width: 130px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

._u193.f3s_top
{
	width: 130px;
	background-image: url("../images/u193-sprite.png");
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

._u193.f3s_mid
{
	background-image: url("../images/u193-sprite.png");
	overflow: visible;
	background-position: -130px top;
	width: 106px;
	min-height: 215px;
	padding: 30px 14px 65px 10px;
}

._u193.f3s_bot
{
	width: 130px;
	background-image: url("../images/u193-sprite.png");
	overflow: visible;
	height: 7px;
	background-position: -260px top;
}

#u195-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	margin-left: 9px;
	position: relative;
}

#u196-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	margin-top: 62px;
	position: relative;
}

#pu170-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 155px;
}

#u170-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
}

#pu175
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 9px;
	position: relative;
}

#u175
{
	z-index: 20;
	width: 176px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u235-8
{
	z-index: 69;
	width: 148px;
	min-height: 67px;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: -15px;
	left: 11px;
}

#u178
{
	z-index: 21;
	width: 176px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 242px;
}

._u175.f3s_mid,._u178.f3s_mid
{
	background-image: url("../images/u175-sprite.png");
	overflow: visible;
	background-position: -176px top;
	width: 176px;
	min-height: 43px;
}

#u263-9
{
	z-index: 173;
	width: 141px;
	min-height: 69px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -15px;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	left: 18px;
}

#u179
{
	z-index: 22;
	width: 176px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 485px;
}

._u175.f3s_top,._u178.f3s_top,._u179.f3s_top
{
	width: 176px;
	background-image: url("../images/u175-sprite.png");
	overflow: hidden;
	height: 25px;
	background-position: left top;
}

._u179.f3s_mid
{
	background-image: url("../images/u175-sprite.png");
	overflow: visible;
	background-position: -176px top;
	width: 176px;
	height: 43px;
}

._u175.f3s_bot,._u178.f3s_bot,._u179.f3s_bot
{
	width: 176px;
	background-image: url("../images/u175-sprite.png");
	overflow: visible;
	height: 24px;
	background-position: -352px top;
}

#u264-3
{
	z-index: 182;
	width: 5px;
	margin-left: 156px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u171-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-top: 37px;
	position: relative;
}

#pu180
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 7px;
	position: relative;
}

#u180
{
	z-index: 23;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -1px;
}

#u228-8
{
	z-index: 44;
	width: 101px;
	min-height: 72px;
	margin-bottom: -13px;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	left: 10px;
}

#u182
{
	z-index: 24;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 166px;
}

#u231-9
{
	z-index: 52;
	width: 143px;
	margin-bottom: -16px;
	position: relative;
	margin-right: -10000px;
	margin-top: -19px;
	left: 9px;
}

#u228-5,#u231-6
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u183
{
	z-index: 25;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#u232-8
{
	z-index: 61;
	width: 136px;
	min-height: 56px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -14px;
	left: 9px;
}

#u232-3
{
	font-size: 13px;
}

#u235,#u228,#u231,#u231-3,#u232
{
	font-size: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u232-4
{
	font-size: 7px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u235-6,#u232-6
{
	font-size: 11px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u184
{
	z-index: 26;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

._u184.f3s_mid
{
	background-image: url("../images/u180-sprite.png");
	overflow: visible;
	background-position: -152px top;
	width: 152px;
	min-height: 41px;
	padding-bottom: 0px;
}

#u236-8
{
	z-index: 77;
	width: 132px;
	min-height: 56px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -17px;
	left: 9px;
}

#pu185
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 29px;
	position: relative;
}

#u185
{
	z-index: 27;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u238-9
{
	z-index: 85;
	width: 126px;
	min-height: 62px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: -12px;
	left: 11px;
}

#u186
{
	z-index: 28;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 167px;
}

#u240-8
{
	z-index: 94;
	width: 119px;
	min-height: 69px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -16px;
	position: relative;
	margin-right: -10000px;
	margin-top: -12px;
	left: 7px;
}

#u187
{
	z-index: 29;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 333px;
}

#u241-8
{
	z-index: 102;
	width: 114px;
	min-height: 48px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: -15px;
	left: 12px;
}

#u188
{
	z-index: 30;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 500px;
}

#u243-8
{
	z-index: 110;
	width: 132px;
	min-height: 67px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -16px;
	position: relative;
	margin-right: -10000px;
	margin-top: -20px;
	left: 9px;
}

#u172-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-left: 154px;
	margin-top: 48px;
	position: relative;
}

#pu189
{
	width: 0.01px;
	margin-left: 156px;
	margin-top: 25px;
	position: relative;
}

#u189
{
	z-index: 31;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u254-9
{
	z-index: 122;
	width: 117px;
	min-height: 52px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -20px;
	left: 14px;
}

#u190
{
	z-index: 32;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 171px;
}

#u256-8
{
	z-index: 131;
	width: 103px;
	min-height: 71px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -11px;
	position: relative;
	margin-right: -10000px;
	margin-top: -19px;
	left: 19px;
}

#u191
{
	z-index: 33;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 343px;
}

#u257-9
{
	z-index: 139;
	width: 126px;
	min-height: 71px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -17px;
	position: relative;
	margin-right: -10000px;
	margin-top: -13px;
	left: 10px;
}

#u192
{
	z-index: 34;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 508px;
}

#u258-8
{
	z-index: 148;
	width: 134px;
	min-height: 74px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -16px;
	position: relative;
	margin-right: -10000px;
	margin-top: -17px;
	left: 9px;
}

#pu245
{
	width: 0.01px;
	margin-left: 153px;
	margin-top: 19px;
	position: relative;
}

#u245
{
	z-index: 118;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u261-8
{
	z-index: 156;
	width: 108px;
	min-height: 80px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -23px;
	position: relative;
	margin-right: -10000px;
	margin-top: -16px;
	left: 14px;
}

#u246
{
	z-index: 119;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 177px;
}

#u262-9
{
	z-index: 164;
	width: 119px;
	min-height: 63px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -15px;
	left: 10px;
}

#u263-4,#u254-4,#u257-4,#u262-4
{
	font-size: 11px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u263-4  span,#u263-4  a,#u254-4  span,#u254-4  a,#u257-4  span,#u257-4  a,#u262-4  span,#u262-4  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u247
{
	z-index: 120;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 343px;
}

#u265-8
{
	z-index: 185;
	width: 105px;
	min-height: 67px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: -17px;
	left: 21px;
}

#u248
{
	z-index: 121;
	width: 152px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 511px;
}

._u180.f3s_top,._u182.f3s_top,._u183.f3s_top,._u184.f3s_top,._u185.f3s_top,._u186.f3s_top,._u187.f3s_top,._u188.f3s_top,._u189.f3s_top,._u190.f3s_top,._u191.f3s_top,._u192.f3s_top,._u245.f3s_top,._u246.f3s_top,._u247.f3s_top,._u248.f3s_top
{
	width: 152px;
	background-image: url("../images/u180-sprite.png");
	overflow: hidden;
	height: 25px;
	background-position: left top;
}

._u180.f3s_mid,._u182.f3s_mid,._u183.f3s_mid,._u185.f3s_mid,._u186.f3s_mid,._u187.f3s_mid,._u188.f3s_mid,._u189.f3s_mid,._u190.f3s_mid,._u191.f3s_mid,._u192.f3s_mid,._u245.f3s_mid,._u246.f3s_mid,._u247.f3s_mid,._u248.f3s_mid
{
	background-image: url("../images/u180-sprite.png");
	overflow: visible;
	background-position: -152px top;
	width: 152px;
	min-height: 41px;
}

._u180.f3s_bot,._u182.f3s_bot,._u183.f3s_bot,._u184.f3s_bot,._u185.f3s_bot,._u186.f3s_bot,._u187.f3s_bot,._u188.f3s_bot,._u189.f3s_bot,._u190.f3s_bot,._u191.f3s_bot,._u192.f3s_bot,._u245.f3s_bot,._u246.f3s_bot,._u247.f3s_bot,._u248.f3s_bot
{
	width: 152px;
	background-image: url("../images/u180-sprite.png");
	overflow: visible;
	height: 24px;
	background-position: -304px top;
}

#u266-8
{
	z-index: 193;
	width: 119px;
	min-height: 72px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: -21px;
	left: 14px;
}

#u263,#u236-3,#u236-6,#u238-4,#u238-7,#u240-3,#u241-3,#u243-3,#u254,#u256-3,#u257,#u258-3,#u261-3,#u262,#u265-3,#u266-3
{
	font-size: 12px;
}

#u235-4,#u263-5,#u231-5,#u236-4,#u238-5,#u240-4,#u241-4,#u243-4,#u254-5,#u256-4,#u257-5,#u258-4,#u261-4,#u262-5,#u265-4,#u266-4
{
	font-size: 7px;
}

#u263-7,#u228-6,#u231-7,#u236-5,#u238-6,#u240-6,#u241-6,#u243-6,#u254-7,#u256-6,#u257-7,#u258-6,#u261-6,#u262-7,#u265-6,#u266-6
{
	font-size: 11px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

