html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 823px;
	min-height: 620px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 50px 60px 27px;
}

#pu160
{
	width: 0.01px;
	margin-left: 14px;
	position: relative;
}

#u160
{
	z-index: 6;
	width: 86px;
	margin-right: -10000px;
}

#u160_img
{
	padding-bottom: 1px;
}

#u70-4
{
	z-index: 2;
	width: 581px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 132px;
}

#pu193
{
	width: 0.01px;
	margin-top: 32px;
	position: relative;
}

#u193
{
	z-index: 35;
	width: 128px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

._u193.f3s_top
{
	width: 128px;
	background-image: url("../images/u193-sprite.png");
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

._u193.f3s_mid
{
	background-image: url("../images/u193-sprite.png");
	overflow: visible;
	background-position: -128px top;
	width: 106px;
	min-height: 215px;
	padding: 30px 12px 46px 10px;
}

._u193.f3s_bot
{
	width: 128px;
	background-image: url("../images/u193-sprite.png");
	overflow: visible;
	height: 7px;
	background-position: -256px top;
}

#u195-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	margin-left: 9px;
	position: relative;
}

#u196-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	margin-top: 62px;
	position: relative;
}

#pu170-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 154px;
}

#u170-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
}

#u175
{
	z-index: 20;
	width: 182px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 28px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u235-8
{
	z-index: 69;
	width: 138px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
}

#u178
{
	z-index: 21;
	width: 172px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 1px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#u263-9
{
	z-index: 173;
	width: 141px;
	min-height: 69px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 11px;
}

#u264-3
{
	z-index: 182;
	width: 5px;
	margin-left: 157px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u171-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 36px;
	position: relative;
}

#pu175,#pu180
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 12px;
	position: relative;
}

#u180
{
	z-index: 23;
	width: 135px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u228-8
{
	z-index: 44;
	width: 101px;
	min-height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#u182
{
	z-index: 24;
	width: 150px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 159px;
}

#u231-9
{
	z-index: 52;
	width: 143px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 6px;
}

#u228-5,#u231-6
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u183
{
	z-index: 25;
	width: 140px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 10px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u232-8
{
	z-index: 61;
	width: 136px;
	min-height: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#u232-3
{
	font-size: 13px;
}

#u235,#u228,#u231,#u231-3,#u232
{
	font-size: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u232-4
{
	font-size: 7px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u235-6,#u232-6
{
	font-size: 11px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#pu179
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 652px;
}

#u179
{
	z-index: 22;
	width: 170px;
	height: 85px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
}

#u184
{
	z-index: 26;
	width: 145px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 16px;
	margin-left: 12px;
	margin-top: 84px;
	position: relative;
}

#u236-8
{
	z-index: 77;
	width: 132px;
	min-height: 56px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#pu185
{
	width: 0.01px;
	margin-left: 164px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u185
{
	z-index: 27;
	width: 135px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 7px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u238-9
{
	z-index: 85;
	width: 126px;
	min-height: 62px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#u186
{
	z-index: 28;
	width: 149px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 3px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 159px;
}

#u240-8
{
	z-index: 94;
	width: 119px;
	min-height: 69px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 21px;
}

#u187
{
	z-index: 29;
	width: 140px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 10px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u241-8
{
	z-index: 102;
	width: 114px;
	min-height: 48px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 10px;
}

#u188
{
	z-index: 30;
	width: 144px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 501px;
}

#u243-8
{
	z-index: 110;
	width: 132px;
	min-height: 67px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 7px;
}

#u172-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-left: 154px;
	margin-top: 54px;
	position: relative;
}

#pu189
{
	width: 0.01px;
	margin-left: 156px;
	margin-top: 27px;
	position: relative;
}

#u189
{
	z-index: 31;
	width: 145px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u254-9
{
	z-index: 122;
	width: 117px;
	min-height: 52px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 12px;
}

#u190
{
	z-index: 32;
	width: 149px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#u256-8
{
	z-index: 131;
	width: 103px;
	min-height: 71px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 17px;
}

#u191
{
	z-index: 33;
	width: 140px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 342px;
}

#u257-9
{
	z-index: 139;
	width: 115px;
	min-height: 71px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 22px;
}

#u192
{
	z-index: 34;
	width: 145px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 513px;
}

#u258-8
{
	z-index: 148;
	width: 134px;
	min-height: 74px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 3px;
}

#pu245
{
	width: 0.01px;
	margin-left: 153px;
	margin-top: 24px;
	position: relative;
}

#u245
{
	z-index: 118;
	width: 145px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u261-8
{
	z-index: 156;
	width: 108px;
	min-height: 80px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 12px;
}

#u246
{
	z-index: 119;
	width: 149px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#u262-9
{
	z-index: 164;
	width: 119px;
	min-height: 63px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 12px;
}

#u263-4,#u254-4,#u257-4,#u262-4
{
	font-size: 11px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u263-4  span,#u263-4  a,#u254-4  span,#u254-4  a,#u257-4  span,#u257-4  a,#u262-4  span,#u262-4  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u247
{
	z-index: 120;
	width: 145px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	left: 344px;
}

#u265-8
{
	z-index: 185;
	width: 105px;
	min-height: 67px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 19px;
}

#u248
{
	z-index: 121;
	width: 145px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 1px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 513px;
}

#u266-8
{
	z-index: 193;
	width: 119px;
	min-height: 72px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 11px;
}

#u263,#u236-3,#u236-6,#u238-4,#u238-7,#u240-3,#u241-3,#u243-3,#u254,#u256-3,#u257,#u258-3,#u261-3,#u262,#u265-3,#u266-3
{
	font-size: 12px;
}

#u235-4,#u263-5,#u231-5,#u236-4,#u238-5,#u240-4,#u241-4,#u243-4,#u254-5,#u256-4,#u257-5,#u258-4,#u261-4,#u262-5,#u265-4,#u266-4
{
	font-size: 7px;
}

#u263-7,#u228-6,#u231-7,#u236-5,#u238-6,#u240-6,#u241-6,#u243-6,#u254-7,#u256-6,#u257-7,#u258-6,#u261-6,#u262-7,#u265-6,#u266-6
{
	font-size: 11px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

